<main class="login-container">
    <div class="login-box">
        <h2>Bem vindos a Biblioteca+!</h2>
        <p class="login-prompt">FAÇA SEU LOGIN</p>

        <div class="user-type-selector">
            <a routerLink="/login-usuario" class="tab-btn">Usuário</a>
            <button class="tab-btn active">Bibliotecário</button>
        </div>

        <form class="login-form">
            <div class="input-group">
                <i class="bi bi-person"></i>
                <input type="email" placeholder="Digite sua identificação" required>
            </div>
            <div class="input-group">
                <i class="bi bi-lock"></i>
                <input type="password" placeholder="Digite sua senha" required>
            </div>

            <p class="forgot-password">
                Esqueceu sua senha? <a routerLink="/redefinir-senha">Redefina aqui</a>
            </p>

            <button type="submit" class="btn-login">Entrar</button>

        </form>
    </div>
</main>