<div class="container">
  <div class="relatorios-container">
    <!-- Breadcrumb -->
    <app-breadcrumb [titulo]="'Relatório de Usuários'"></app-breadcrumb>

    <!-- Filtros -->
    <app-filtros
      [meses]="meses"
      [anos]="anos"
      [(selectedMes)]="selectedMes"
      [(selectedAno)]="selectedAno"
      [isBuscarEnabled]="isBuscarEnabled"
      (buscarClick)="buscarRelatorio()"
    ></app-filtros>

    <!-- Tipos de Relatório -->
    <app-tipos-relatorio [titulo]="'Usuários'" [relatorios]="['Usuários']"></app-tipos-relatorio>

    <!-- Conteúdo do Relatório -->
    <div class="conteudo-relatorio">
      <button class="btn-laranja">Usuários Ativos/Inativos</button>
    </div>

    <!-- Ações do Relatório -->
    <app-acoes-relatorio></app-acoes-relatorio>
  </div>
</div>
