.relatorios-container { padding: 20px 90px; }
h2 { margin-bottom: 12px; }

.content { display:flex; align-items:center; gap:12px; color: white; }
.btn-laranja { background:#d97a0f; border:none; color:white; padding:8px 12px; border-radius:6px; }
.msg { font-size:14px; }
