<div class="relatorios-container">
  <app-breadcrumb [titulo]="'Relatório de Livros'"></app-breadcrumb>
  
  <app-filtros
    [meses]="meses"
    [anos]="anos"
    [(selectedMes)]="selectedMes"
    [(selectedAno)]="selectedAno"
    [isBuscarEnabled]="isBuscarEnabled"
    (buscarClick)="buscarRelatorio()"
  ></app-filtros>

  <app-tipos-relatorio [titulo]="'Livros'" [relatorios]="['Livros']"></app-tipos-relatorio>

  <div class="conteudo-relatorio">
    <button class="btn-laranja">Livros Disponíveis/Indisponíveis</button>
  </div>

  <app-acoes-relatorio></app-acoes-relatorio>
</div>