// .relatorios-container {
//   padding: 20px;
//   padding-left: 90px;
//   padding-right: 90px;
// }

// h2 {
//   font-size: 20px;
//   margin-bottom: 12px;
// }

// /* customização rápida para os botões que ficam na lista de tipos (herda estilos do tipos-relatorio) */
// .app-tipos-relatorio { margin-top: 8px; }


// .relatorios-container {
//   padding: 20px;
//   padding-left: 90px;
//   padding-right: 90px;

//   h2 {
//     font-size: 20px;
//     margin-bottom: 20px;
//   }

//   .app-tipos-relatorio {
//     margin-top: 8px;
//   }
// }



.relatorios-container {
  padding: 20px 90px; // cima/baixo 20px, laterais 90px

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .app-tipos-relatorio {
    margin-top: 8px;
  }
}

/* Telas médias (tablets) */
@media (max-width: 1024px) {
  .relatorios-container {
    padding: 20px 50px;
  }
}

/* Telas pequenas (celulares) */
@media (max-width: 768px) {
  .relatorios-container {
    padding: 15px 20px;
  }

  .relatorios-container h2 {
    font-size: 18px;
    text-align: center; // melhora em telas pequenas
  }
}
