<div class="relatorios-container">
  <app-breadcrumb [titulo]="'Relatórios'"></app-breadcrumb>
  <h2>Meus relatorios</h2>
  <app-filtros
    [meses]="meses"
    [anos]="anos"
    [(selectedMes)]="selectedMes"
    [(selectedAno)]="selectedAno"
    [isBuscarEnabled]="isBuscarEnabled"
    (buscarClick)="buscarRelatorio()"
  ></app-filtros>

  <app-tipos-relatorio
    [titulo]="'Tipos de Relatório'"
    [relatorios]="relatorios"
    [selectedRelatorio]="selectedRelatorio"
    (selectRelatorio)="selecionarRelatorio($event)"
  ></app-tipos-relatorio>

  <!-- <app-acoes-relatorio></app-acoes-relatorio> -->
</div>