<main class="login-container">
    <div class="login-box">
        <h2>Bem vindos a Biblioteca+!</h2>
        <p class="login-prompt">FAÇA SEU LOGIN</p>

        <div class="user-type-selector">
            <button class="tab-btn active">Usuário</button>
            <a routerLink="/login-admin" class="tab-btn">Bibliotecário</a>
        </div>

        <form class="login-form">
            <div class="input-group">
                <i class="bi bi-person"></i>
                <input type="email" placeholder="Digite seu email" required>
            </div>
            <div class="input-group">
                <i class="bi bi-lock"></i>
                <input type="password" placeholder="Digite sua senha" required>
            </div>

            <p class="forgot-password">
                Esqueceu sua senha?<a routerLink="/redefinir-senha">Redefina aqui</a>
            </p>

            <button type="submit" class="btn-login">Entrar</button>

            <p class="signup-link">
                Não possui Login? <a routerLink="/cadastro">Cadastre-se</a>
            </p>
        </form>
    </div>

</main>